<%
  is_editable = (defined?(editable) ? editable : true)
  is_js_request = (defined?(js_request) ? js_request : false)
%>

<%= form_for album, remote: is_js_request do |f| %>
  <% if f.object.errors.any? %>
    <%#= f.object.errors.details.inspect %>
    <ul>
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="mb-3">
    <%= f.label :name, "Name Of Album", class: "form-label" %>
    <%= f.text_field :name, class: "form-control", readonly: !is_editable %>
    <% if is_editable %>
      <div id="album_name" class="form-text">Enter the unique name for your Album.</div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= f.label :description, "Description Of Album", class: "form-label" %>
    <%= f.text_area :description, class: "form-control", cols: 10, rows: 5, readonly: !is_editable %>
    <% if is_editable %>
        <div id="album_description" class="form-text">What type of album and photoes it contains.</div>
    <% end %>
  </div>
  <% if is_editable %>
    <div class="mb-3">
        <%= f.submit "Create Album", class: "btn btn-primary float-end" %>
    </div>
  <% end %>
<% end %>