<tr>
    <th scope="row"><%= album.id %></th>
    <td><%= album.name %></td>
    <td><%= album.description.to_s[0..100] %><%= album.description.to_s.length > 100 ? "..." : ""%></td>
    <td>
        <%= link_to 'Show', album_path(album), class: "btn btn-success" %>
        <%= button_to 'Delete', album_path(album),
        method: :delete,
        data: { confirm: "Are you Sure?" }, class: "btn btn-danger" %>
    </td>
</tr>