<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <th scope="row"><%= album.id %></th>
          <td><%= album.name %></td>
          <td><%= album.description.to_s[0..100] %><%= album.description.to_s.length > 100 ? "..." : ""%></td>
          <td>
            <%= link_to 'Show', album_path(album), class: "btn btn-success" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>